Makefile
Makefile.in
*.la
*.lo
.deps
.dirstamp
.libs
INSTALL
aclocal.m4
ar-lib
autom4te.cache
autoregen.sh
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h.in
stamp-h1
